
/**{
  outline: 1px solid black;
}*/
  
.mainpage {
  background-image: url('images/maxresdefault.jpg');
 /*background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;*/
 

  /*background-size: cover;       /* scales image to cover entire background */
  /*background-position: center;  /* centers the image */
  /*background-repeat: no-repeat; /* prevents tiling */
  /*height: 100vh;                /* ensures full viewport height */
  /*margin: 0;                    /* removes default margin */

 
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;


}

.nav {
  position: sticky;
  top: 0;
  background-color: whitesmoke/* rgba(255, 255, 255, 0.5); */;
  padding: 10px;
  text-align: center;
  justify-content: space-evenly;
  margin: 7px;
  display: flex;

}


.nav a {
  color: whitesmoke;
   background-color: #333;
   transition: 0.3s ease-in;
}

.nav a:hover{
  color: orange;
  letter-spacing: 2px;
}

.content h1 {
  border: 2px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  color: white;
 margin: 500px;
}

.footer {
  background-color: (255, 255, 255, 0.5);
  padding: 10px;
text-align: left;
position: absolute;
  bottom: 0;
  width: 100%;
color: orange;

}
 
.about{
  color:  black;
  background-color: white/*rgb(199, 72, 72);*/

}


.aboutintrop{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bosspic{
    border-radius: 30px;
    box-shadow: 3px 0px 6px 0px;
   margin-left: 500px;
}

.bosspic:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  border: navy;
  border-radius: 30px;
  box-shadow: 5px 0px 8px 0px gray;
  text-align: center;
}


.designer1{
    border-radius: 30px;
    margin: 3px;
    box-shadow: 3px 0px 6px 0px;
    margin-left: 340px;
}

.designer1:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  border: navy;
  border-radius: 30px;
  box-shadow: 5px 0px 8px 0px gray;
  text-align: center;
}


.designer2{
    border-radius: 30px;
    margin: 3px;
    box-shadow: 3px 0px 6px 0px;
    margin-left: 10px;
}

.designer2:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  border: navy;
  border-radius: 30px;
  box-shadow: 5px 0px 8px 0px gray;
  text-align: center;
}


.worker1{
    border-radius: 30px;
    margin: 3px;
    box-shadow: 3px 0px 6px 0px;
    margin-left: 190px;
}

.worker1:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  border: navy;
  border-radius: 30px;
  box-shadow: 5px 0px 8px 0px gray;
  text-align: center;
}


.worker2{
    border-radius: 30px;
    margin: 3px;
    box-shadow: 3px 0px 6px 0px;
    margin-left: 7px;
}

.worker2:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  border: navy;
  border-radius: 30px;
  box-shadow: 5px 0px 8px 0px gray;
  text-align: center;
}


.worker3{
    border-radius: 30px;
    margin: 3px;
    box-shadow: 3px 0px 6px 0px;
     margin-left: 8px;
}

.worker3:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  border: navy;
  border-radius: 30px;
  box-shadow: 5px 0px 8px 0px gray;
  text-align: center;
}


.about-wrapper {
  display: flex;
  flex-direction: row;
}

.thumbsupic {
  width: 60%;
  padding: 20px;
  margin: 5px;
  
}

.thumbsupic img {
  width: 100%;
  height: auto;
 
}

.aboutgoals {
  width: 40%;
  padding: 10px;
  margin: 10px;

}



/*
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
   display: flex;
   padding: 10px;
}*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    padding: 10px;
   
}

.gallery img:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  border: navy;
  border-radius: 2px;
  box-shadow: 5px 0px 8px 0px gray;
}

.servicesmain{
  background-image: url(images/tufting-gun-multicolored-yarns-against-260nw-2119228451.webp);
   background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.enquiryimg{
  width: 100%; 
  height: auto; 
}

.cover{
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding: 7px;
}


.form{
   max-width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: whitesmoke;
  border: 1px solid #ccc ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: palevioletred;
 
}  

.form input, .form textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cc399b;
  box-sizing: border-box palevioletred;

}

.form button{
  margin-top: 15px;
    padding: 10px 20px;
    background-color: #d87093;
    color: #800080;
    border: none;
    cursor: pointer;
}
.form button:hover{
background-color: #dda0dd;

}

.enquirypage img{
  text-align: center;
}

.enquirypage h2{
    color: black;
}

.contact {
  background-image:url(images/people-working-call-center-25341790.webp);
  text-align: center;

}

.contact ul {
  list-style: none;
  padding: 5px;

}

.contact li {
  background-color: whitesmoke;
  padding: 10px;
  
}

.contact h1{
  /*background-color: whitesmoke;*/
}

.Thankyou{ 
  background-color:  rgb(199, 72, 72);
  text-align: center;

}

.menu-toggle {
  display: none; /*so its not visible in desktop mode*/
  font-size: 1.5rem;
  cursor: pointer;
}

.butt-load{
  color:aqua ;
}

/*@media (max-width: 400px) { /*menu in mobile view*/
  /*.nav {
    display: none; /*so the menu isnt visible if the menu icon isnt cliked*/
  /*  flex-direction: column;
    background-color: #ebdddd;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
  }*/

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav.active {
    display: flex;
  }

  .fa-grav{
    width: 50px;
    height: 48px;
  }

  .menu-toggle {
    display: block;
  }
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .nav {
  background-color: #444;
}

.dark-mode .nav a {
  color: #fff;
}

/* Hide elements by default */
.hidden {
  display: none;
   margin: 10px;
}

.hidden img {
    margin: 10px;
   
}

#photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
/* Spinner container. we say # because its a global spinner which means we only use one spinner throughout the entire page */
/*#spinner {
    /*text-align: center;
    margin: 20px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#spinner i {
    font-size: 40px;
    color: #fca82b;
    animation: spin 1s linear infinite;


    #spinner {
  text-align: center;
  margin: 20px 0;
}

#spinner i {
  font-size: 40px;
  color: #3498db;
  animation: spin 1s linear infinite;
}
}*/


   /* text-align: center;
    margin: 20px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#spinner i {
    font-size: 40px;
    color: #fca82b;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/


